body {
  font-family: system-ui, sans-serif;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.app {
  background: #222;
  padding: 2rem;
  border-radius: 10px;
}
